*{
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    overflow-y: hidden;
}
.wrapper {
    width: 80%;
    height: 750px;
    position: relative;
    margin: 3% auto;
    box-shadow: 2px 18px 70px 0px #9D9D9D;
    overflow: hidden;
   
}
.Welcome{
    background-color: none;
    
    height: 100%;
    float: right;
    font-size: 50px;
    color: wheat;
}
.login-text {
    border: 6px solid orange;
    width: 100%;
    height:80%;
    background: linear-gradient(to left, #58a7e7, #221522); 
    position: absolute;
    top: -300px;
    box-sizing: border-box;
    padding: 2%;
    transition: all 0.5s ease-in-out;
    z-index: 11;
   
}

.text {
    margin-left: 10%;
    color: #fff;
    display: none;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.3s;
}   
    .login{
        float: left;
        font-size: 30px;
    }
    p{
        margin: 0%;
        padding: 0%;
        font-size: 40px;
        text-align: center;
        color: springgreen;
    }
    a, a:visited {
        font-size: 36px;
      color: #fff;
        text-decoration: none;  
        font-weight: bold;
        display: block;
    }

   

    input {
        margin-top: 20px;
        height: 10%;
        width: auto;
        border-radius: 2px;
        border: none;
        background-color: rgb(240, 240, 241);
        opacity: 0.6;
        outline: none;
        color: #fff;
        padding-left: 10px;
        font-size: 30px;;
    }

    input[type=text] {
        color: black;
        margin: auto;
        width: auto;
        
    }
    input[type=password] {
        color: black;
    }


    button{
        margin: 3%;
        height: 20px;
    }

    .Admin {
       
        background: transparent;
        border: 2px solid #fff;;
        border-radius: auto;
        color: #fff;
        
        
    }
    .Admin:hover{
        border: solid 5px #fff;
        height: auto;
    }

    .Student {
      
        background: transparent;
        border: 2px solid #fff;
        border-radius: auto;
        color: #fff;
        
     
    }
    .Student:hover{
        border: solid 5px #fff;
        height: auto;
    }


.cta {
    margin-top: 20px;
    width: auto;
    height: 5%;
    background: #696a86;
    border: solid 2px white;
    position: absolute;
    bottom: -40px;
    left: 40%;
    color: rgb(12, 12, 12);
    outline: none;
    cursor: pointer;
    z-index: 11;
    font-size: 20px;
}

.call-text {
    opacity: 0.6;
    font-weight: bold;
    background-color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
    
    
     
    
}
    
    .h1 {
        
        padding-top: 50%;
        color: aqua;
        font-size: 1.9em;
        font-weight: bolder;
        font-style: bold;
    }
        span {
            color: #000000;
            font-weight: bolder;
            font-style: bold;
            
        }
    

    .Visit {
        height: 60px;
        width: 120px;
        border: none;
        border-radius: 20px;
        background: linear-gradient(to left, #020102, #33011a); 
        color: #fff;
        font-weight: bolder;
       
        cursor: pointer;
        outline: none;
       
    }
   

.show-hide {
    display: block;
}

.expand {
    transform: translateY(60%);
}
.mainPage{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 3% auto;
    box-shadow: 2px 18px 70px 0px #9D9D9D;
    overflow: hidden;
   
}

.image1{
    vertical-align: middle;
    max-width: 600px;
    max-height: 600px;
  }

.Intro{

    background-color: none;
    
    height: 100%;
    
    font-size: 50px;
    color: wheat;
}
.title{
    text-align: center;
    margin-left: 20%;
    font-size: 1.6em;
    display: flex;
    color: black;
}

.SlidesContainer{
position: relative;
text-align: center;
width: 90%;
left: 5%;
}
.mySlides {
    display: none;
  }
  .cursor {
    cursor: pointer;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
   
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f0d7d7;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top:0;
    right: 2px;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    width: 100%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
    .hover1{
    
        width: 100%;
    
  }


@media only screen and (max-width: 480px) {
    .expand {
        transform: translateY(70%);
    }
    .login-text{
        top: -350px;
        height: 70%;
    }
    .cta{
        bottom: -40px;
    }
    .h1{
        font-size: 20px;
        
    }
    .login-text {
        border: 6px solid orange;
    }
    .title{
        font-size: 1.6rem;
    }
  }
  
  
