body {
    font-family: 'Raleway', sans-serif;
    background-color: #e7e7e7;
}

.wrapper {
    width: 80%;
    height: 750px;
    position: relative;
    margin: 3% auto;
    box-shadow: 2px 18px 70px 0px #9D9D9D;
    overflow: hidden;
}
.Welcome{
    background-color: none;
    
    height: 100%;
    float: right;
    font-size: 50px;
    color: wheat;
}
.login-text {
    border: 6px solid orange;
    width: 100%;
    height:80%;
    background: linear-gradient(to left, #58a7e7, #221522); 
    position: absolute;
    top: -300px;
    box-sizing: border-box;
    padding: 2%;
    transition: all 0.5s ease-in-out;
    z-index: 11;
}

.text {
    margin-left: 10%;
    color: #fff;
    display: none;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.3s;
}   
    .login{
        float: left;
        font-size: 30px;
    }
    p{
        margin: 0%;
        padding: 0%;
        font-size: 40px;
        text-align: center;
        color: springgreen;
    }
    a, a:visited {
        font-size: 36px;
      color: #fff;
        text-decoration: none;  
        font-weight: bold;
        display: block;
    }

   

    input {
        margin-top: 20px;
        height: 10%;
        width: auto;
        border-radius: 2px;
        border: none;
        background-color: rgb(240, 240, 241);
        opacity: 0.6;
        outline: none;
        color: #fff;
        padding-left: 10px;
        font-size: 30px;;
    }

    input[type=text] {
        color: black;
        margin: auto;
        width: auto;
        
    }
    input[type=password] {
        color: black;
    }


    button{
        margin: 3%;
        height: 20px;
    }

    .Admin {
       
        background: transparent;
        border: 2px solid #fff;;
        border-radius: auto;
        color: #fff;
        
        
    }
    .Admin:hover{
        border: solid 5px #fff;
        height: auto;
    }

    .Student {
      
        background: transparent;
        border: 2px solid #fff;
        border-radius: auto;
        color: #fff;
        
     
    }
    .Student:hover{
        border: solid 5px #fff;
        height: auto;
    }


.cta {
    margin-top: 20px;
    width: auto;
    height: 15%;
    background: #696a86;
    border: solid 5px white;
    position: absolute;
    bottom: -60px;
    left: 40%;
    color: rgb(12, 12, 12);
    outline: none;
    cursor: pointer;
    z-index: 11;
    font-size: 20px;
}

.call-text {
    background-color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
}
    .header{
        font-size: 60p;
    }
    h1 {
        font-size: 40px;
        margin-top: 10%;
        color: #696a86;
        font-size: 1.6em;
        font-weight: bolder;
        font-style: bold;
    }
        span {
            color: #333333;
            font-weight: normal;
            
        }
    

    .Visit {
        height: 60px;
        width: 120px;
        border: none;
        border-radius: 20px;
        background: linear-gradient(to left, #020102, #33011a); 
        color: #fff;
        font-weight: bolder;
       
        cursor: pointer;
        outline: none;
    }
   

.show-hide {
    display: block;
}

.expand {
    transform: translateY(300px);
}
@media only screen and (max-width: 479px) {
    .expand {
        transform: translateY(60%);
    }
  }
  
  
